 <html>
  <head>  
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <h1>Your Profile</h1>
 <div class="row">
    <% if(x) { %>
        <% for(var i=0; i<x.length; i++){ %>
         
            <div class="card col-xs-4">
           
                <h4 class="card-title"> Username: <%= x[i].username %></h4>
                <h4 class="card-title"> Password: <%= x[i].password %></h4>
                <h4 class="card-title"> Work: <%= x[i].work %></h4>
            </div>
       
        <% } %>
    <% } else { %>
        <p>something wrong</p>
    <% } %>
            </div> 
            <br>
            <br>  
      <title>Your Account</title>
      <style type="text/css">
  h1{
  color: rgb(180,180,180);
  font-family: Helvetica;
  text-align: center;
}
button {
    background-color: rgb(200,200,200);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

form {
  text-align: center;
}

label {
  font-family: Helvetica;
}

a {
  color: black;
  text-decoration: none;
}

.row {
  font-family: Helvetica;
}
  </style>
  </head>
  <body>
  <center>
<a href="/uploadWork"> <button type="button"> Upload Work </button></a>
</center>
  </body>
 </html>
