<html>
<head>
<title>MET | BI Department Portfolio</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
  <br>
  <br>
  <br>
<h1>Welcome</h1>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<a href="/register"> <button type="button"> Register </button></a>
<a href="/login"> <button type="button"> Login </button></a>
<a href="/allgyms"> <button type="button"> View portfolio </button></a>

<br>


</center>


</body>
</html>
