<html>
<head>
<title>MET | BI Department Portfolio</title>
<style type="text/css">
  h1{
  color: rgb(180,180,180);
  font-family: Helvetica;
  text-align: center;
}
button {
    background-color: rgb(200,200,200);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

form {
  text-align: center;
}

label {
  font-family: Helvetica;
}

a {
  color: black;
  text-decoration: none;
}

.row {
  font-family: Helvetica;
}
  </style>
</head>
<body>
  <br>
  <br>
  <br>
<h1>Welcome</h1>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
<a href="/register"> <button type="button"> Register </button></a>
<a href="/login"> <button type="button"> Login </button></a>
<a href="/allportfolios"> <button type="button"> View portfolio </button></a>

<br>


</center>


</body>
</html>
