<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
	<h1>Login Failed </h1>
	<a href="/login"> Login again <a>
	<br>
	<a href="/register"> Register now <a>
</body>
</html>