<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <style type="text/css">
  h1{
  color: rgb(180,180,180);
  font-family: Helvetica;
  text-align: center;
}
button {
    background-color: rgb(200,200,200);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

form {
  text-align: center;
}

label {
  font-family: Helvetica;
}

a {
  color: black;
  text-decoration: none;
}

.row {
  font-family: Helvetica;
}
  </style>
</head>
<body>
  <h1>Login</h1>
  <div class="container">
   <form action="/login" method="POST"  style="background-color:#f1f1f1">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br><br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br><br>
    <button type="submit">Login</button><br>
    <button type="button" class="cancelbtn">Cancel</button>
  </div>

  <div class="container">
    
  </div>
</form>

</body>
</html>