<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
  <h1>Create Account</h1>
  <div class="container">
  <center>
    <form action="/register" method="post">
      <br>
      <br>
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter username" name="username" required>
      <br><br>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br><br>
      <div class="clearfix">
      <br>
      <button type="submit" class="signupbtn">Sign Up</button><br><br>
      <a href = "/" id ="backbtn" >Back</a>
    </form>
  </center>
  </div>
</body>
</html>